POSTGRES_DB=tracker_db
POSTGRES_USER=tracker_user
POSTGRES_PASSWORD=change_this_password

SECRET_KEY=change_this_secret_key
DEBUG=0

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,SERVER_IP
CSRF_TRUSTED_ORIGINS=http://SERVER_IP

DB_NAME=tracker_db
DB_USER=tracker_user
DB_PASSWORD=change_this_password
DB_HOST=db
DB_PORT=5432